{{- $popularPages := slice -}}
{{- range $path := slice "/stories/small-talk" "/essays/on-useful-digital-tools" "/notes/tatie" -}}
    {{- with site.GetPage $path -}}
        {{- $popularPages = $popularPages | append . -}}
    {{- end -}}
{{- end -}}

{{- $postPages := where site.RegularPages "Params.home_recent" true -}}
{{- $postPages = sort $postPages "Date" "desc" -}}

{{- partial "home-section.html" (dict "id" "popular-title" "label" "Popular" "pages" $popularPages) -}}
{{- partial "home-section.html" (dict "id" "posts-title" "label" "Posts" "pages" $postPages) -}}
