<div class="logo" style="display: flex; align-items: center; gap: 15px;">
    {{- $label_text := (site.Params.label.text | default site.Title) -}}
    <div class="logo-container" style="display: flex; flex-direction: column; line-height: 1.2; width: 100%;">
        
        <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)" style="font-size: 24px; font-weight: bold; text-decoration: none; color: inherit;">
            {{- $label_text -}}
        </a>

        <a href="{{ "" | absLangURL }}">
            <img src="/images/banner.svg" alt="Banner" class="minimalist-banner">
        </a>

        <span style="font-size: 14px; opacity: 0.8;">by Dexter Bosley</span>
    </div>
</div>
